body {
    font-family: Arial, sans-serif;
    background-image: url('bg.avif');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #faf6f6;
}
p {
    color: #ece6e6;
    font-size: 18px;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(10, 11, 10);
    background: #25d528;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    background: #50f0e0;
}